.chat {
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	background-color: white;
}

.chat.hide {
	visibility: hidden;
}

.chat .chatHeader {
	text-align: center;
}

.chat .closeButton {
	font-size: 1.3rem;
	position: absolute;
	right: 0px;
	top: 0px;
}

.chat .chatMessages {
	height: calc(100% - 32px);
}

.chat .chatMessages :global(.ant-list-header) {
	height: 2rem;
	padding:  0;
	line-height: 2rem;
}

.chat .chatMessages :global(.ant-spin-nested-loading) {
	height: calc(100% - 2rem);
	overflow: auto;
	padding: 0 1rem;
}

.chat .textInput {
	height:  32px;
}

@media screen and (min-width: 768px) {
	.chat {
		width: 20%;
		height:  100%;
		float: left;
		position: initial;
	}
}