.clearFix::after {
  display: table-cell;
  content: '';
  clear: both;
}

.controlBar {
  height: 70px;
  background-color: rgb(24, 24, 24);
  padding: 0 1rem;
}

.controlBar .inputDeviceButtons {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  width: 9rem;
}

.controlBar .controlButtons {
  display: flex;
  justify-content: flex-end;
}

.controlBar .buttonContainer {
  text-align: center;
  padding: 0.8rem 1rem 0.8rem 0;
  position: relative;
  color: #bdbdbd;
  width: 4rem;
  height: 70px;
  float: left;
  margin-left: 1rem;
}
.controlBar .buttonContainer:first-child {
  margin-left: 0;
}
.controlBar .buttonContainer.noMoreBtn {
  padding: 0.8rem 0;
}

.controlBar .buttonContainer .button {
  cursor: pointer;
  transition: color 200ms ease-in-out;
}
.controlBar .buttonContainer .button:hover,
.controlBar .buttonContainer .button:hover .buttonIcon {
  color: white;
}

.controlBar .buttonContainer .button .buttonDesc {
  white-space: nowrap;
}

.controlBar .buttonContainer .buttonIcon {
  font-size: 1.5rem;
  color: #bdbdbd;
  transition: color 200ms ease-in-out;
}
.controlBar .buttonContainer .buttonMore {
  position: absolute;
  left: calc(50% + 1rem);
  top: 0px;
  padding-top: calc(70px/2 - 0.5rem);
  height: 100%;
  font-size: 1rem;
}

/* Responsive */
.hideOnMobile {
  display: none;
}
.hideOnDesktop {
  display: block;
}
@media only screen and (min-width: 920px) {
  .hideOnMobile {
    display: block;
  }
  .hideOnDesktop {
    display: none;
  }
  .controlBar {
    padding: 0 3rem;
  }
  .controlBar .controlButtons {
    justify-content: center;
  }
}