.videoStreamContainer {
  position: relative;
  height: 100%;
  width: 100%;
}
.videoStreamContainer .nameText {
  font-size: 0.8rem;
  line-height: 1.5rem;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left: 0px;
  bottom: 0px;
  border-radius: 0px 5px 0px 0px;
  color: white;
  padding: 0.1rem 0.3rem;
  z-index: 10;
}
.videoStreamContainer .micIcon {
  margin: 0 0.3rem 0 0;
}
.videoStreamContainer video {
  width: 100%;
  height: 100%;
}
.videoStreamContainer.nth3 {
  width: 50%;
  height: 100%;
  margin: auto;
}
.hide {
  display: none;
}